# Top-level configuration
name = "my-axon"
main = "src/worker.py"
compatibility_flags = ["python_workers"]
compatibility_date = "2022-07-12"

# Assets configuration for serving static files
[assets]
directory = "./public/"
binding = "ASSETS"

route = { pattern = "axon.sarahsl.workers.dev/*", zone_name = "workers.dev" } 

[[d1_databases]]
binding = "axon_db"
database_name = "axon-db"
database_id = "c76c6bcb-76cb-40ff-b5c3-0d96f32f0597"

[ai]
binding = "AI"


